<html>
    <style>
        body
        {{css}}

        .option a{
            width: 70px;
            border: black;
            background-color:white;
            color: black;
            float:left;
            text-align: center;

        }

        #menu{ margin-left: 200px; }
    </style>
    <body>
        <center><img src="http://2.bp.blogspot.com/-Mmz7tZemi2M/UB13Y57IFsI/AAAAAAAALbo/T_saoQg8i6U/s1600/Wallpapers+de+Vanesa+Romero,+Imagenes+%289%29.jpg"/></center>

        <center><h1><u>HELP!!</u></h1></center><br>
        <center>{{recurso}}</center>
    </body>
</html>
