<html>
<head>
<link rel="stylesheet" type="text/css" href="../templates/style.css" />
<title>MiRevita</title>
<style type="text/css">{{css}}</style>
<link rel="icon" href="../templates/mirevista-35.ico" type="image/x-icon" />
</head>

<body>
<div id="head">
  <div id="head2">
    <div id="title">
        
      <img src="/templates/mirevista-35.jpg">Crea tu revista
        
    </div>
    
    <div id="menu">
      <ul>
        {% if not user %}
        {% else %}
          <li>
            <a href="canales" title="Canal">Canal</a>
          </li>
          <li>
            <a href="logout" title="logout">Logout</a>
          </li>
        {% endif %}
        <li>
          <a href="ayuda" title="Ayuda">Ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="body_wrapper">
  <div id="body">
      <div id="left">
        <div class="content">
          <h1>Revistas</h1>
          {% if not titulo %}
          {% if not page %}
            <h2>No hay Usuarios Registrados</h2>
          {% else %}
            <h2>{{page|safe}}</h2>
          {% endif %}
          {% else %}
          {% endif %}
        </div>
      </div>
      <div id="right">
        <div class="content">
          {% if not titulo %}
          {% if not user %}
            <form action='login' method='post'>{% csrf_token %}
              <h3>Loggin</h3>
              <label for="username">User</label>
              <input type="text" name="username" value="" id="username" size="14"><br>
              <label for="password">Pass</label>
              <input type="password" name="password" value="" id="password" size="14">
              <input type="submit" value="Loggin" />
            </form>
            <br><br>
            <hr />
            <h4>Reg&iacute;strate</h4>
            <form action='/register' method ='post'>
              <label for="username">UserName</label>
              <input type="text" name="username" value="" id="username" size="14"><br>
              <label for="title">Title</label>
              <input type="text" name="title" value="" id="title" size="14"><br>
              <label form="email">Email</label>
              <input type="text" name="email" value="" id="email" size="14"><br>
              <label for="password">Password</label>
              <input type="password" name="password" value="" id="password" size="14">
              <input type="submit" value="Register" />
            </form>
          {% else %}
            <h4><h1>Welcome {{user|safe}}</h1></h4>
            Para salir pulse <a href="http://localhost:1234/logout">logout<a>
          {% endif %}
          
          {% else %}
            {{titulo|safe}}
          {% endif %}
          </div>
      </div>
      <div class="clearer"></div>

    </div>
    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
</div>
<div id="footer"> Designed by Quan Zhou <br />
&copy; Copyright 2013
</div>

</body>
</html>
